real_credentials*.json
scratch*.ipynb
test*.ipynb
*.pyc 
*.log
*.txt
data/*.json
*.__init__.py
*profitable.py
.envrc

## cmake related
*.cmake
*.tcl
Makefile
cmake-*/

## directories
Data/strategies
Data/data
backtest.egg-info/
.vscode/
results/
scrap/
strategies/
__pycache__/
bin/