real_credentials*.json
*.ipynb
*.pyc 
*.log
*.txt
data/*.json
*.__init__.py
*profitable.py

## cmake related
*.cmake
*.tcl
Makefile
cmake-*/

## directories
Data/*
backtest.egg-info/
.vscode/
results/
scrap/
strategies/
__pycache__/
bin/